<h1>Vue#index</h1>

<h2>model list({{models.length}})</h2>
<div>
	<ul>
		<li v-for="model in models">
			{{model}}
		</li>
	</ul>
</div>

<h2>table list ({{tableItems.length}})</h2>

<input type="text" @keyup="loadTable($event)">
<li v-for="model in tableItems">
	{{model}}
</li>
